.half {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#main {
    background: black;
}

#main::after {
    visibility: hidden;
}

.hide {
    display: none;
}

.absolute {
    position: absolute;
}

#video img {
    max-width: 230px;
    max-height: 164px;
}

#file img {
    max-width: 350px;
    max-height: 183px;
}

#account img {
    max-width: 350px;
    max-height: 205px;
}

#replay img {
    max-width: 320px;
    max-height: 180px;
}

.imgs img {
    max-height: 200px;
}

.mail {
    max-width: 20px;
    max-height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}